.button {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    /*display: block;*/
}
.face-button {
    width: 2.3rem; 
    height: 2.3rem;
    border-radius: 100%;
}

#south-button {
    right: 108px;
    top: 123px;
}
#north-button {
    right: 108px;
    top: 52px;
}
#west-button {
    right: 145px;
    top: 89px;
}
#east-button {
    right: 70px;
    top: 89px;
}

.d-pad-button {
    width: 1rem;
    height: 2.5rem;
}
#south-d-pad {
    left: 119px;
    top: 119px;
}
#north-d-pad {
    left: 119px;
    top: 64px;
}
#east-d-pad {
    transform: rotate(90deg);
    left: 145px;
    top: 90px;
}
#west-d-pad {
    transform: rotate(90deg);
    left: 91px;
    top: 90px;
}

.shoulder-button {
    top: 0px;
    width: 3.5rem;
    height: 1rem;
}
#left-shoulder {
    left: 118px; 
}
#right-shoulder {
    right: 116px; 
}

.front-button {
    width: 1.5rem;
    height: 0.8rem;
    border-radius: 40%;
    top: 88px;
}
#start-button {
    right: 206px;
}
#select-button {
    left: 206px;
}

.stick {
    width: 4.1rem;
    height: 4.1rem;
    border-radius: 100%;
    bottom: 78px;
}
#left-stick {
    left: 132px;
}
#right-stick {
    right: 132px;
}
