.sidebar {
    background-color: rgba(0,0,0,0.3);
    height: 100%;
    color: #fafafa;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.sidebar-link {
    text-decoration: none;
    color: #fafafa;
    padding: 10px;
    height: 50px;
    display: flex;
    align-items: center;
}

.active {
    background-color: #101010;
}

.sidebar-link-label {
    margin-left: 5px;
}

@media only screen and (max-width: 800px) {
    .sidebar {
        width: 50px;
    }
    .sidebar-link-label {
        display: none;
    }
}

